<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../amount-value.html">

<dom-module id="card-accounts">
  <template>
    <style>
      .card {
        width: 250px;
        height: 250px;
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
    </style>
    <div class="card">
      <h1>{{account.type}}</h1>
      <h2>{{account.currency}} <amount-value amount="{{account.amount}}"></amount-value></h2>
      <div>
        <paper-button raised on-tap="view">
          <iron-icon icon="icons:assignment"></iron-icon>
        </paper-button>

        <paper-button raised on-tap="transfer">
          <iron-icon icon="icons:compare-arrows"></iron-icon>
        </paper-button>
      </div>
    </div>
  </template>
  <script>
    class CardAccounts extends Polymer.Element {
      static get is() { return 'card-accounts'; }
      static get properties() {
        return {
          account: {
            type: Object,
            value: {}
          }
        };
      }

      view(event) {
        this.dispatchEvent(new CustomEvent('view', { detail: this.account }));
      }

      transfer(event) {
        this.dispatchEvent(new CustomEvent('transfer', { detail: this.account }));
      }

    }
    customElements.define(CardAccounts.is, CardAccounts);
  </script>
</dom-module>