<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="tech-u-grid.html">
<link rel="import" href="accounts/card-accounts.html">


<dom-module id="accounts-tech-u">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
    </style>
    <app-location route="{{route}}"></app-location>
    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="_userLoaded"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <iron-ajax id="postAccountsAjax" method="post" content-type="application/json" handle-as="text" on-response="handlerPostResponse"
      on-error="handlerPostError" loading="{{loading}}">
    </iron-ajax>
    <iron-ajax id="getAccountsAjax" method="get" content-type="application/json" handle-as="text" on-response="handlerGetResponse"
      on-error="handlerGetError" loading="{{loading}}">
    </iron-ajax>

    <template is="dom-if" if="{{loading}}">
      <paper-spinner active></paper-spinner>
    </template>

    <template is="dom-if" if="{{!loading}}">
      <ul>
        <paper-button raised class="primary" on-tap="getAccoutns">
          <iron-icon icon="refresh"></iron-icon>
        </paper-button>
      </ul>
      <tech-u-grid>
        <template is="dom-repeat" items="{{data}}">
          <card-accounts account="{{item}}" on-view="redirectView" on-transfer="redirectTransfer"></card-accounts>
        </template>
      </tech-u-grid>
    </template>
  </template>
  <script>
    // Your new element extends the Polymer.Element base class
    class AccountsTechU extends Polymer.Element {
      static get is() {
        return "accounts-tech-u";
      }
      static get properties() {
        return {
          loading: {
            type: Boolean,
            value: false
          },
          reload: {
            type: Boolean,
            value: false
          },
          data: {
            type: Array
          },
          newAccount: {
            type: Object,
            value: {}
          },
          showNewAccount: {
            type: Boolean,
            value: false
          },
          error: {
            type: String
          },
        }
      }

      refresh() {
        console.log('asdasda');
      }

      redirectView(event, detail) {
        this.set('route.path', '/view-transactions-tech-u/' + detail.id);

      }

      redirectTransfer(event, detail) {
        this.set('route.path', '/trasfer-tech-u/' + detail.id);
      }

      showNew() {
        this.showNewAccount = true;
      }

      postAccoutns() {
        this.$.postAccountsAjax.url = 'http://localhost:3000/api-uruguay/v1/accounts';
        this.$.postAccountsAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.postAccountsAjax.body = this.newAccount;
        this.$.postAccountsAjax.generateRequest();
      }

      handlerPostResponse(event) {
        var response = JSON.parse(event.detail.response);
        this.getAccoutns();
        this.showNewAccount = false;
        this.newAccount = {};
      }

      handlerPostError(event) {
        let response = JSON.parse(event.detail.request.xhr.response);
        this.error = response.message;
      }

      getAccoutns() {
        this.$.getAccountsAjax.url = 'http://localhost:3000/api-uruguay/v1/accounts';
        this.$.getAccountsAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.getAccountsAjax.generateRequest();
      }

      handlerGetResponse(event) {
        var response = JSON.parse(event.detail.response);
        if (response)
          response.forEach(element => {
            element.amount = Math.round(element.amount * 100) / 100
          });
        this.set('data', response);
        this.set('reload', false);
      }

      handlerGetError(event) {
        try {
          let response = JSON.parse(event.detail.request.xhr.response);
          this.error = response.message;
        } catch (e) {
          this.error = "Error desconocido";
        }

      }

      _userLoaded(event) {
        this.getAccoutns();
      }

      constructor() {
        super();
      }
    }

    //Now, register your new custom element so the browser can use it
    customElements.define(AccountsTechU.is, AccountsTechU);
  </script>
</dom-module>