<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="amount-value">
  <template>
    [[formatedAmount]]
  </template>
  <script>
    class AmountValue extends Polymer.Element {
      static get is() { return 'amount-value'; }

      static get properties() {
        return {
          amount: {
            type: Number,
            value:0
          },
          formatedAmount: {
            computed: '__formatedAmount(amount)'
          }
        }
      }

      __formatedAmount(amount){
        return Math.round(amount * 100) / 100;
      }
    }
    customElements.define(AmountValue.is, AmountValue);
  </script>
</dom-module>