<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="log-out">
  <template>
    <style>
      

      :host {
        margin: 0;
        padding: 0;
        --log-out-height :50px
      }

      paper-button {
        color: #fff;
        vertical-align: middle;
      }

      paper-button.link {
        color: #fff;
        display: inline-block;
        font-size: 13px;
      }

      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;

        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        }

        ;
      }

      paper-button.indigo:hover {
        background-color: var(--paper-indigo-400);
      }

      .box.flex {
        display: flex;
        justify-content: center;
      }

      .box {
        height: var(--log-out-height);
        margin-top: -24px;
      }

      .box p {
        text-align: center;
        vertical-align: middle;
      }

      .box p img {
        border-radius: 50% !important;
        background: white;
        margin-left: 3em;
        box-shadow: 4px 4px 20px #888888;
        margin-right: 1em;
      }

      .box p span {
        height: var(--log-out-height);
        display: inline-flex;
        align-items: center;
      }
    </style>
    <iron-ajax id="logoutAjax" method="post" content-type="application/json" handle-as="text" on-response="handleLogoutResponse"
      on-error="handleLogoutError">
    </iron-ajax>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <template is="dom-if" if="{{!link}}">
      <paper-button raised class="indigo" on-tap="logout">
        <img src="[[storedUser.avatar]]">
        <span class="greeting">[[storedUser.name]] [[storedUser.last_name]]!</span>
      </paper-button>
    </template>

    <template is="dom-if" if="{{link}}">
      <paper-button class="link" on-tap="logout">
        <div class="box flex">
          <p>
            <img src="[[storedUser.avatar]]">
          </p>
          <p>
            <span class="greeting">[[storedUser.name]] [[storedUser.last_name]]!</span>
          </p>
        </div>
      </paper-button>
    </template>
  </template>

  <script>
    (function() {
      class LogOut extends Polymer.Element {
        static get is() {
          return 'log-out';
        }

        static get properties() {
          return {
            storedUser: Object,
            link: {
              type: Boolean,
              value: false
            }
          }
        }

        logout() {
          this.$.logoutAjax.url = 'http://localhost:3000/api-uruguay/v1/authentication/logout';
          this.$.logoutAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
          this.$.logoutAjax.body = {};
          this.$.logoutAjax.generateRequest();
        }
        handleLogoutResponse(event) {
          this.storedUser = null;
        }
        handleLogoutError(event) {
          this.storedUser = null;
        }
      }

      window.customElements.define(LogOut.is, LogOut);
    }());
  </script>
</dom-module>