<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="shared-styles.html">

<dom-module id="login-tech-u">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax id="loginAjax" method="post" content-type="application/json" handle-as="text" on-response="handleLoginResponse"
      on-error="handleLoginError" loading="{{loading}}">
    </iron-ajax>
    <iron-ajax id="singinAjax" method="post" content-type="application/json" handle-as="text" on-response="handleSinginResponse"
      on-error="handleSinginError" loading="{{loading}}">
    </iron-ajax>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <template is="dom-if" if="{{loading}}">
      <paper-spinner active></paper-spinner>
    </template>

    <template is="dom-if" if="{{!loading}}">
      <div class="card">
        <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
          <h1>Log In</h1>

          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>

          <paper-input-container hidden$="{{!showingSingin}}">
            <label>Nombre</label>
            <iron-input slot="input" bind-value="{{formData.first_name}}">
              <input id="first_name" type="text" value="{{formData.first_name}}" placeholder="Nombre">
            </iron-input>
          </paper-input-container>

          <paper-input-container hidden$="{{!showingSingin}}">
            <label>Apellido</label>
            <iron-input slot="input" bind-value="{{formData.last_name}}">
              <input id="last_name" type="text" value="{{formData.last_name}}" placeholder="Apellido">
            </iron-input>
          </paper-input-container>

          <paper-input-container>
            <label slot="input">Email</label>
            <iron-input slot="input" bind-value="{{formData.email}}">
              <input class="input-style" id="email" type="text" value="{{formData.email}}" placeholder="Email">
            </iron-input>
          </paper-input-container>

          <paper-input-container>
            <label>Password</label>
            <iron-input slot="input" bind-value="{{formData.password}}">
              <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
            </iron-input>
          </paper-input-container>

          <div class="wrapper-btns" hidden$="{{showingSingin}}">
            <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
            <paper-button raised class="primary" on-tap="showSingin">Sing In</paper-button>
          </div>
          <div class="wrapper-btns" hidden$="{{!showingSingin}}">
            <paper-button raised class="primary" on-tap="postSingin">Confirmar</paper-button>
          </div>
        </div>
      </div>
    </template>
  </template>

  <script>
    class LoginTechU extends Polymer.Element {
      static get is() { return 'login-tech-u'; }

      static get properties() {
        return {
          showingSingin: {
            type: Boolean,
            value: false
          },
          loading: {
            type: Boolean,
            value: false
          },
          formData: {
            type: Object,
            value: { email: 'hpointin0@i2i.jp', password: 'test' }
          },
          storedUser: {
            type: Object,
            value: {}
          },
          error: String
        }
      }

      _setReqBody() {
        this.$.loginAjax.body = this.formData;
      }

      postLogin() {
        this.$.loginAjax.url = 'http://localhost:3000/api-uruguay/v1/authentication/login';
        this.$.loginAjax.body = this.formData;
        this.$.loginAjax.generateRequest();
      }

      postSingin() {
        this.$.singinAjax.url = 'http://localhost:3000/api-uruguay/v1/authentication/singin';
        this.$.singinAjax.body = this.formData;
        this.$.singinAjax.generateRequest();
      }

      handleLoginResponse(event) {
        var response = JSON.parse(event.detail.response);

        if (response.token) {
          this.error = '';
          let storedUser = {
            name: response.user.first_name,
            last_name: response.user.last_name,
            avatar: response.user.avatar,
            access_token: response.token,
            loggedin: true
          };
          this.set('storedUser', storedUser);
          this.set('route.path', '/accounts-tech-u');
        }

        // reset form data
        this.set('formData', {});
        this.set('showingSingin', false);
      }

      handleLoginError(event) {
        let response = JSON.parse(event.detail.request.xhr.response);
        this.error = response.message;
      }

      handleSinginResponse(event) {
        this.postLogin();
      }

      handleSinginError(event) {
        let response = JSON.parse(event.detail.request.xhr.response);
        this.error = response.message;
      }

      showSingin(event) {
        this.set('formData', {});
        this.set('showingSingin', true);
      }
    }

    window.customElements.define(LoginTechU.is, LoginTechU);
  </script>
</dom-module>