<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="login-tech-u.html">
<link rel="lazy-import" href="accounts-tech-u.html">
<link rel="lazy-import" href="view-transactions-tech-u.html">
<link rel="lazy-import" href="trasfer-tech-u.html">
<link rel="lazy-import" href="not-found.html">
<link rel="import" href="log-out.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
        --tr-color: #4285f4;
        --tr-color-text: #ffffff;

      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }

      app-header .greeting {
        border-right: 1px solid rgba(255, 255, 255, .5);
        display: inline-block;
        padding-right: 6px;
      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>BBVA</div>
            <a name="login-tech-u" href="[[rootPath]]login-tech-u" hidden$="[[storedUser.loggedin]]">Log in</a>
            <div hidden$="[[!storedUser.loggedin]]">
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>
        <template is="dom-if" if="[[storedUser.loggedin]]">
          <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="not-found" role="main">
            <login-tech-u name="login-tech-u"></login-tech-u>
            <div name="accounts-tech-u">
              <template is="dom-if" if="{{isEquals('accounts-tech-u', page)}}" restamp>
                <accounts-tech-u></accounts-tech-u>
              </template>
            </div>
            <div name="view-transactions-tech-u">
              <template is="dom-if" if="{{isEquals('view-transactions-tech-u', page)}}" restamp>
                <view-transactions-tech-u></view-transactions-tech-u>
              </template>
            </div>
            <div name="trasfer-tech-u">
              <template is="dom-if" if="{{isEquals('trasfer-tech-u', page)}}" restamp>
                <trasfer-tech-u></trasfer-tech-u>
              </template>
            </div>
            <not-found name="not-found"></not-found>
          </iron-pages>
        </template>
        <template is="dom-if" if="[[!storedUser.loggedin]]">
          <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="not-found" role="main">
            <login-tech-u name="login-tech-u"></login-tech-u>
          </iron-pages>
        </template>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          reload: {
            type: Boolean,
            value: false
          },
          routeData: Object,
          subroute: String,
          rootPath: String,
          storedUser: {
            type: Object
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      isEquals(a, b) {
        return a == b;
      }

      _routePageChanged(page) {
        this.page = page || 'login-tech-u';
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'not-found';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>