<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">

<dom-module id="tech-u-grid">
  <template>
    <style include="app-grid-style">
      @media (max-width: 640px) {
        :host {
          --app-grid-columns: 1;
        }
      }

      @media (min-width: 640px) {
        :host {
          --app-grid-columns: 2;
        }
      }

      @media (min-width: 840px) {
        :host {
          --app-grid-columns: 3;
        }
      }

      @media (min-width: 950px) {
        :host {
          --app-grid-columns: 4;
        }
      }
    </style>
    <ul class="app-grid">
      <slot>
      </slot>
    </ul>
  </template>
  <script>
    class TechUGrid extends Polymer.Element {
      static get is() { return 'tech-u-grid'; }
    }
    customElements.define(TechUGrid.is, TechUGrid);
  </script>
</dom-module>