<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="transactions/selector-transaction-type.html">


<link rel="import" href="shared-styles.html">

<dom-module id="trasfer-tech-u">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 16px;

      }

      paper-tabs {
        width: 400px;
      }

      .vertical-section-container {
        max-width: 500px;
      }

      paper-dropdown-menu {
        width: 200px;
        margin-right: 20px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page/:id" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="_userLoaded"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <iron-ajax id="getAccountAjax" method="get" content-type="application/json" handle-as="text" on-response="handlerAccountGetResponse"
      on-error="handlerAccountGetError">
    </iron-ajax>
    <iron-ajax id="getAccountsAjax" method="get" content-type="application/json" handle-as="text" on-response="handlerAccountsGetResponse"
      on-error="handlerAccountsGetError">
    </iron-ajax>
    <iron-ajax id="postTransactionAjax" method="post" content-type="application/json" handle-as="text" on-response="handlerPostTransactionResponse"
      on-error="handlerPostTransactionError">
    </iron-ajax>
    <div class="card">
      <template is="dom-if" if="[[originAccount]]">
        <h1>{{originAccount.type}}</h1>
        <h2>{{originAccount.currency}} {{amount}}</h2>
        <selector-transaction-type selected-value="{{destinyType}}"></selector-transaction-type>
      </template>
      <template is="dom-if" if="{{showCP}}">
        <div>
          <paper-radio-group name="destinyAccount_id" selected="{{destinyAccount.id}}" attr-for-selected="value">
            <template is="dom-repeat" items="{{accounts}}">
              <paper-radio-button name="destinyAccount_id" value="{{item.id}}">{{item.type}} {{item.currency}}</paper-radio-button>
            </template>
          </paper-radio-group>
        </div>
      </template>
      <paper-input-container>
        <label>Monto</label>
        <iron-input slot="input" bind-value="{{sentAmount}}">
          <input id="sentAmount" type="number" value="{{sentAmount}}" placeholder="Monto">
        </iron-input>
      </paper-input-container>
      <paper-button raised class="primary" on-tap="transfer">
        <iron-icon icon="done"></iron-icon>
      </paper-button>
    </div>
  </template>
  <script>
    // Your new element extends the Polymer.Element base class
    class TrasferTechU extends Polymer.Element {
      static get is() {
        return "trasfer-tech-u";
      }
      static get properties() {
        return {
          originAccount: {
            type: Object,
            observer: '_originAccountChanged'
          },
          accounts: {
            type: Array
          },
          amount: {
            type: Number

          },
          destinyType: {
            type: String,
            value: 'CP',
            observer: '_destinyTypeChanged'
          },
          destinyAccount: {
            type: Object,
            value: {}
          },
          sentAmount: {
            type: Number,
            value: 0,
            observer: '_sentAmountChanged'
          },
          showCP: {
            type: Boolean,
            value: false
          },
          error: {
            type: String
          },
        }
      }

      refresh() {
        console.log('asdasda');
      }

      _ammountRested(originAccount, sentMony) {
        return originAccount.ammount - sentMony;
      }
      _originAccountChanged(newValue, oldValue) {
        if (newValue && newValue.amount) {
          this.set('amount', newValue.amount);
          this.set('sentAmount', 0);
        }
      }
      _destinyTypeChanged(newValue, oldValue) {
        this.set('showCP', newValue == 'CP')
      }
      _sentAmountChanged(newValue, oldValue) {
        if (this.originAccount && this.originAccount.amount)
          if ((this.originAccount.amount - newValue) >= 0)
            this.set('amount', this.originAccount.amount - newValue);
          else
            this.set('sentAmount', oldValue);
      }

      getAccoutn() {
        this.$.getAccountAjax.url = 'http://localhost:3000/api-uruguay/v1/accounts/' + this.routeData.id;
        this.$.getAccountAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.getAccountAjax.generateRequest();

      }
      handlerAccountGetResponse(event) {
        var response = JSON.parse(event.detail.response);
        this.set('originAccount', response);
        this.reload = false;
      }

      handlerAccountGetError(event) {
        let response = JSON.parse(event.detail.request.xhr.response);
        this.error = response.message;
      }
      getAccoutns() {
        this.$.getAccountsAjax.url = 'http://localhost:3000/api-uruguay/v1/accounts/';
        this.$.getAccountsAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.getAccountsAjax.generateRequest();

      }
      handlerAccountsGetResponse(event) {
        var response = JSON.parse(event.detail.response);
        var id = this.routeData.id;
        this.set('accounts', response.filter(account => account.id != id));
      }

      handlerAccountsGetError(event) {
        let response = JSON.parse(event.detail.request.xhr.response);
        this.error = response.message;
      }

      handlerPostTransactionResponse(event) {
        this.set('route.path', '/accounts-tech-u');
      }

      transfer() {
        var transfer = {};
        transfer.destinyType = this.destinyType;
        transfer.sentAmount = this.sentAmount;
        transfer.originAccount = this.originAccount;
        transfer.destinyAccount = this.destinyAccount;
        this.$.postTransactionAjax.url = 'http://localhost:3000/api-uruguay/v1/transactions/';
        this.$.postTransactionAjax.body = transfer;
        this.$.postTransactionAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.postTransactionAjax.generateRequest();
      }

      _userLoaded(event) {
        this.getAccoutn();
        this.getAccoutns();
      }

      constructor() {
        super();
      }
    }

    //Now, register your new custom element so the browser can use it
    customElements.define(TrasferTechU.is, TrasferTechU);
  </script>
</dom-module>