<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker-light.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker-light.html">
<link rel="import" href="../bower_components/udes-moment/udes-moment-mixin.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="tech-u-grid.html">
<link rel="import" href="transactions/card-transactions-day.html">
<link rel="import" href="transactions/selector-transaction-type.html">
<link rel="import" href="shared-styles.html">

<dom-module id="view-transactions-tech-u">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 16px;

      }
    </style>
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page/:id" data="{{routeData}}" tail="{{subroute}}">
    </app-route>
    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="_userLoaded"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <iron-ajax id="postTransactionsAjax" method="post" content-type="application/json" handle-as="text" on-response="handlerPostResponse"
      on-error="handlerPostError" loading="{{loading}}">
    </iron-ajax>
    <iron-ajax id="getTransactionsAjax" method="get" content-type="application/json" handle-as="text" on-response="handlerGetResponse"
      on-error="handlerGetError" loading="{{loading}}">
    </iron-ajax>
    <template is="dom-if" if="{{loading}}">
      <paper-spinner active></paper-spinner>
    </template>

    <template is="dom-if" if="{{!loading}}">
      <h1>Accounts [[routeData.id]]
        <paper-button raised class="primary" on-tap="showSearch">
          <iron-icon icon="icons:search"></iron-icon>
        </paper-button>
        <paper-button raised class="primary" on-tap="getTransactions">
          <iron-icon icon="refresh"></iron-icon>
        </paper-button>
      </h1>
      <div class="card search" hidden$="{{!showSearchView}}">
        <div class="item">
          <selector-transaction-type selected-value="{{destinyType}}"></selector-transaction-type>
        </div>
        <div class="item">
          <vaadin-date-picker label="Desde" value="{{startDate}}"></vaadin-date-picker>
          <vaadin-date-picker label="Hasta" value="{{endDate}}"></vaadin-date-picker>
        </div>
      </div>
      <template is="dom-repeat" items="{{data}}">
        <card-transactions-day key="{{item.key}}" resumen="{{item.resumen}}" data="{{item.data}}"></card-transactions-day>
      </template>
      </div>
    </template>
  </template>
  <script>
    // Your new element extends the Polymer.Element base class
    class ViewTransactionsTechU extends UdeS.MomentMixin(Polymer.Element) {
      static get is() {
        return "view-transactions-tech-u";
      }
      static get properties() {
        return {
          momentImportPath: {
            type: String,
            value: '../bower_components',
          },
          loading: {
            type: Boolean,
            value: false
          },
          showSearchView: {
            type: Boolean,
            value: false
          },
          data: {
            type: Array
          },
          newTransaction: {
            type: Object,
            value: {}
          },
          error: {
            type: String
          },
          destinyType: {
            type: String,
          },
          startDate: {
            type: String
          },
          endDate: {
            type: String
          }
        }
      }

      getTransactions() {
        this.$.getTransactionsAjax.url = 'http://localhost:3000/api-uruguay/v1/transactions/' + this.routeData.id;
        this.$.getTransactionsAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        if (this.destinyType) {
          this.$.getTransactionsAjax.params.destinyType = this.destinyType;
        }
        if (this.startDate)
          this.$.getTransactionsAjax.params.startDate = this.startDate;
        if (this.endDate)
          this.$.getTransactionsAjax.params.endDate = this.endDate;

        this.$.getTransactionsAjax.generateRequest();
      }

      handlerGetResponse(event) {
        var response = JSON.parse(event.detail.response);
        var responseProcess = [];
        var account_id = this.routeData.id;
        response.forEach(element => {
          var createDate = moment(new Date(element.createDate));
          createDate.locale(this.language);
          var key = createDate.fromNow()

          var processDay = responseProcess.find(x => x.key == key);
          if (!processDay) {
            processDay = { key: key, data: [], resumen: 0 };
            responseProcess.push(processDay);
          }

          var dataItem = {};

          if (element.originAccount.id == account_id) {
            dataItem = { id: element.id, tipo: 'Debito', amount: - element.sentAmount };
          } else {
            dataItem = { id: element.id, tipo: 'Credito', amount: (element.reciveAmount ? element.reciveAmount : element.sentAmount) };
          }

          switch (element.destinyType) {
            case "CP":
              dataItem.description = "Cuenta Propio";
              break;
            case "CBBVA":
              dataItem.description = "Cuenta BBVA";
              break;
            case "CT":
              dataItem.description = "Cuenta de Terceros";
              break;

          }

          processDay.resumen += dataItem.amount
          processDay.data.push(dataItem);

        });

        this.set('data', responseProcess);
      }

      handlerGetError(event) {
        try {
          let response = JSON.parse(event.detail.request.xhr.response);
          this.error = response.message;
        } catch (e) {
          this.error = "Error desconocido";
        }

      }

      showSearch(event) {
        this.set('showSearchView', !this.showSearchView);
      }

      _userLoaded(event) {
        this.getTransactions();
      }


      ready() {
        super.ready();
        this.updateLanguage('es');
      }
      constructor() {
        super();
      }
    }

    //Now, register your new custom element so the browser can use it
    customElements.define(ViewTransactionsTechU.is, ViewTransactionsTechU);
  </script>
</dom-module>