<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="card-transactions-day">
  <template>
    <style include="shared-styles">
      table {
        border-collapse: collapse;
        width: 100%;
        background: #eeeeee;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: var(--tr-color, #f2f2f2);
        color: var(--tr-color-text, #f2f2f2);

      }

      .header-card {
        width: 40%;
      }

      .left {
        float: left;
      }

      .right {
        float: right;
        text-align: right;
      }

      paper-button {
        margin-top: 1em;
      }
    </style>
    <div class="card">
      <div>
        <h1 class="header-card left">
          [[key]]
        </h1>
        <h1 class="header-card right">
          Resumen:<span>[[resumen]]</span>
        </h1>
      </div>
      <div>
        <table>
          <template is="dom-repeat" items="{{dataAux}}">
            <tr>
              <td>{{item.tipo}}</td>
              <td>{{item.description}}</td>
              <td style="text-align: right;">{{item.amount}}</td>
            </tr>
          </template>
        </table>
        <paper-button raised class="primary" on-tap="_showMore" hidden$="[[!showMore]]">
          <iron-icon icon="icons:arrow-downward"></iron-icon>
        </paper-button>
      </div>
    </div>
  </template>
  <script>
    class CardTransactionsDay extends Polymer.Element {
      static get is() { return 'card-transactions-day'; }
      static get properties() {
        return {
          key: String,
          resumen: Number,
          index: {
            type: Number,
            value: 0
          },
          size: {
            type: Number,
            value: 10
          },
          data: {
            type: Array,
            value: []
          },
          dataAux: {
            computed: '_calcDataAux(index, size, data)'
          },
          showMore: {
            computed: '_calcShowMore(index, size, data)'
          }
        }
      }

      _calcDataAux(index, size, data) {
          return data.slice(0, ((index+1)*size));
      }

      _calcShowMore(index, size, data) {
          return ((index+1)*size) < data.length;
      }

      _showMore(event) {
          this.set('index', this.index+1);
      }
    }

    customElements.define(CardTransactionsDay.is, CardTransactionsDay);
  </script>
</dom-module>