<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu-light.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="selector-transaction-type">
  <template>
    <style include="shared-styles">
      paper-dropdown-menu {
        width: 200px;
        margin-right: 20px;
      }
    </style>

    <paper-dropdown-menu label="Type">
      <paper-listbox slot="dropdown-content" selected="{{selectedValue}}" attr-for-selected="value">
          <paper-item value="">*</paper-item><br>
        <paper-item value="CP">Cuenta Propio</paper-item><br>
        <paper-item value="CBBVA">Cuenta BBVA</paper-item><br>
        <paper-item value="CT">Cuenta de Terceros</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>
  </template>
  <script>
    class SelectorTransactionType extends Polymer.Element {
      static get is() { return 'selector-transaction-type'; }
      static get properties() {
        return {
          selectedValue: {
            type: String,
            notify: true
          }
        };
      }
    }
    customElements.define(SelectorTransactionType.is, SelectorTransactionType);
  </script>
</dom-module>